<div class="container">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
  </mat-form-field>

  <mat-form-field class="sort-drop">
    <mat-select
      (selectionChange)="sortProducts($event.value)"
      placeholder="Sort"
    >
      <mat-option value="priceLowHigh">Price: Low to High</mat-option>
      <mat-option value="priceHighLow">Price: High to Low</mat-option>
    </mat-select>
  </mat-form-field>

  <h4>Our Latest Collection</h4>
  <div class="row">
    <div
      class="col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center"
      *ngFor="let product of filteredProducts"
    >
      <mat-card
        class="product-card mb-4 text-center"
        [routerLink]="['/products', product._id]"
      >
        <img
          mat-card-image
          [src]="product.image_url"
          height="150"
          width="150"
          loading="lazy"
        />
        <mat-card-content>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>
            {{ product.price | currency : "USD" }}
          </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
