<div class="container">
  <!-- Admin Add Product Button -->
  <div *ngIf="isAdmin" class="admin-actions">
    <button
      mat-raised-button
      color="primary"
      [routerLink]="['/admin/products/add']"
    >
      <mat-icon>add</mat-icon> Add Product
    </button>
  </div>

  <div class="search-sort-section">
    <mat-form-field appearance="outline">
      <mat-label>Search Products</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search" />
      <mat-icon matSuffix></mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline" class="sort-drop">
      <mat-label>Sort By</mat-label>
      <mat-select (selectionChange)="sortProducts($event.value)">
        <mat-option value="priceLowHigh">Price: Low to High</mat-option>
        <mat-option value="priceHighLow">Price: High to Low</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <h4>Our Latest Collection</h4>

  <div class="row">
    <div class="product-item" *ngFor="let product of filteredProducts">
      <mat-card class="product-card" [routerLink]="['/products', product._id]">
        <img
          mat-card-image
          [src]="product.image_url"
          [alt]="product.name"
          loading="lazy"
        />
        <mat-card-content>
          <mat-card-title>{{ product.name }}</mat-card-title>
          <mat-card-subtitle>
            {{ product.price | currency : "USD" }}
          </mat-card-subtitle>
        </mat-card-content>

        <!-- Admin Controls -->
        <div *ngIf="isAdmin" class="admin-buttons">
          <button mat-raised-button color="warn" (click)="deleteProduct()">
            <mat-icon>delete</mat-icon> Delete
          </button>
          <button
            mat-raised-button
            color="accent"
            [routerLink]="['/admin/products', product._id, 'edit']"
            (click)="$event.stopPropagation()"
          >
            <mat-icon>edit</mat-icon> Edit
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
