<div class="page-container">
  <div class="content-wrapper">
    <div class="product-section">
      <div class="product-card" *ngIf="product">
        <div class="product-image" [ngClass]="{ 'admin-image': isAdmin }">
          <img [src]="product.image_url" [alt]="product.name" />
        </div>

        <div class="product-details">
          <ng-container *ngIf="isAdmin">
            <div class="form-group">
              <label for="name">Product Name</label>
              <input
                type="text"
                id="name"
                [(ngModel)]="product.name"
                name="name"
                class="product-name form-control"
                required
              />
            </div>

            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                id="description"
                [(ngModel)]="product.description"
                name="description"
                class="product-description form-control"
                required
              ></textarea>
            </div>

            <div class="form-group">
              <label for="price">Price</label>
              <input
                type="number"
                id="price"
                [(ngModel)]="product.price"
                name="price"
                class="product-price form-control"
                step="0.01"
                required
              />
            </div>

            <div class="form-group">
              <label for="imageUrl">Image URL</label>
              <input
                type="text"
                id="imageUrl"
                [(ngModel)]="product.image_url"
                name="imageUrl"
                class="form-control"
                required
              />
            </div>
          </ng-container>

          <ng-container *ngIf="!isAdmin">
            <h2 class="product-name">{{ product.name }}</h2>
            <p class="product-description">{{ product.description }}</p>
            <div class="product-price">
              {{ product.price | currency : "USD" }}
            </div>
          </ng-container>

          <div class="add-to-cart-container">
            <ng-container *ngIf="!isAdmin">
              <button class="add-to-cart" (click)="addToCart()">
                Add to Cart
              </button>
            </ng-container>

            <ng-container *ngIf="isAdmin">
              <button class="add-to-cart" (click)="updateProduct()">
                Save Changes
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <!-- Right side - Reviews -->
    <div class="reviews-section">
      <div class="review-button">
        <button (click)="toggleReviews()">
          {{ showReviews ? "Hide Reviews" : "View Reviews" }}
        </button>
      </div>
      <div class="reviews-container" *ngIf="showReviews">
        <app-review [productId]="product._id"></app-review>
      </div>
    </div>
  </div>
</div>
